<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/regis">
    <!--    post提交时服务器会验证这串字符来确保用户是在服务端返回的表单页面中提交的数据，
    防止有人通过例如jquery脚本向某个url不断提交数据，是一种数据提交的验证机制。-->
    {{form.csrf_token}}
    {{form.user_name.label}}
    <p>{{form.user_name}}</p>
    {% for message in form.user_name.errors %}
    <p>{{message}}</p>
    {% endfor %}

    {{form.password.label}}
    <p>{{form.password}}</p>
    <!--errors 报错的提示-->
    {% for message in form.password.errors %}
    <p>{{message}}</p>
    {% endfor %}


    {{form.password2.label}}
    <p>{{form.password2}}</p>
    {% for message in form.password2.errors %}
    <p>{{message}}</p>
    {% endfor %}

    {{form.submit}}
</form>

</body>
</html>